<% provide(:title, "About") %>
<h1>About</h1>
<p><b>This is the Simple Store App with the following features</b></p>
<li>Allow a user to trigger an import of the CSV inventory (must be idempotent)</li>
<li>Allow a user to browse to the home page and view all product categories listed in alphabetical
order</li>
<li>Allow a user to browse the products within a category paginated to 5 products per page</li>
<li>Allow a user to click on a product within a category and view its name and price</li>
